<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, include_blank: false, include_hidden: false%>
  <%= f.submit "Submit bookmark", class: "btn btn-dark" %>
<% end %>
